.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.grid{
  display: flex;
  height: 100%;
  margin: 0%;
  flex-wrap: wrap;
}

.left{
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  color: white;
  /* box-sizing: content-box; */
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  flex-direction: column;
  /* padding:5px; */
  /* margin: 5px; */
}

.right{
  background-color: grey;
  height: 100%;
  width: 100%;
  

}


@media (min-width: 600px) {
  .left {
    width: 50%;
    height: 50%;
  }
  .right{
    width: 50%;
    height: 50%;
  }
  .grid{
    margin: 5%;
  }
  .links{
  /* margin-bottom: 5%;     */
  
  }
}



.socialLink{
  width: 15%;
  
}

.imagelink {
  border-radius: 15%;
  width: 100%;
  margin:5%;
  max-height: 100px;
  
}

.picDiv{
  flex-grow: 1;
}
.menu{
  flex-grow:1;
  justify-content: space-between;
  display: flex;  
  flex-direction: column;
}

.linkDiv{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  
}

.links {
  /* flex-grow: 1; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.profilePic {
  border-radius: 50%;
  /* max-height:300px; */
  /* min-height:100px; */
  min-width:200px;
  max-width: 40%;
  /* max-height:100%; */

  margin-top: 5%;
  margin-left:5%;
  margin-right:5%;
  
  
}

.button{
  
  flex-grow: 1;
  background-color: lightgrey;
  border: 0;
}



