.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.grid{
  display: flex;
  height: 100%;
  margin: 0%;
  flex-wrap: wrap;
}

.left{
  
  background-color: #e3eaa7;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: scroll;
  border-top-left-radius: 1.5%;
  padding: 5%;
  box-sizing: border-box;
  
}

.right{
  
  background-color:#eab9a9;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5%;
  overflow: scroll;
  border-top-right-radius: 1.5%;
}

.bottomLeft{
  background-color:#a9daea;
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5%;
  overflow: scroll;

  border-bottom-left-radius: 1.5%;
}

.bottomRight{
  background-color:#a9b9ea;
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5%;
  overflow: scroll;
  border-bottom-right-radius: 1.5%;
}


@media (min-width: 600px) {
  
  .right{
    width: 50%;
    height: 60%;
  }
  .left {
    width: 50%;
    height: 60%;
    }

  .bottomLeft{
    width:50%
  }
  .bottomRight{
    width: 50%;
  }
  .grid{
    margin: 2%;
    /* height:40%; */
    
  }
}
@media (min-width: 1200px) {

  .grid {
    margin-left: 15%;
    margin-right: 15%;
  }
}


.socialLink{
  width: 15%;
  
}

.imagelink {
  border-radius: 15%;
  width: 100%;
  margin:5%;
  max-height: 100px;
  
}

.picDiv{
  display: flex;;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.menu{
  flex-grow:1;
  justify-content: space-between;
  display: flex;  
  flex-direction: column;
}

.linkDiv{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  
}

.links {
  /* flex-grow: 1; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.profilePic {
  border-radius: 50%;
  min-width:200px;
  max-width: 40%;
  /* margin-top: 5%;
  margin-left:5%;
  margin-right:5%; */
  
  
}

.button{
  flex-grow: 1;
  background-color:#e3eaa7;
  border: 0ch;
  transition-duration: 0.1s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button:hover {
  background-color:#d5e1df;
}

.columns{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-flow: wrap;
}
.skill{
  margin-right:2%;
  margin-bottom:2%;
  
}

.githubLinks{
  display: flex;
  justify-content: space-evenly;
}